<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828943617222-pma2ujk196cng574n93iag5ki5di1mks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828943617222-pma2ujk196cng574n93iag5ki5di1mks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828943617222-ur6bc76uv40lpl5uk9sj1ide4j9f2978.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXbXkaj-GZ2EZ4Ar4aJi-9zylGR9DO_K0</string>
	<key>GCM_SENDER_ID</key>
	<string>828943617222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.star.staff</string>
	<key>PROJECT_ID</key>
	<string>star-staff-rostering</string>
	<key>STORAGE_BUCKET</key>
	<string>star-staff-rostering.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828943617222:ios:7403ce4518bf56ade71bc7</string>
</dict>
</plist>